<section class="main-container">
    <div class="sidebar">
        <div class="sidebar-logo">
            <img src="https://cdn.dribbble.com/users/1405795/screenshots/7064656/media/30c62737ba4c148b5ce34786209b8990.png?compress=1&resize=400x300"
                alt="logo">
            <span><b><i>Work Up</i></b></span>
        </div>
        <div class="sidebar-options">
            <ul>
                <div class="head">
                   <li (click)="onhead()"><span><i class="fa-solid fa-table-columns"></i> Dashboard</span> <i
                            class="fa-solid fa-angle-right"></i></li>
                    <div class="drop-list" *ngIf="drop">
                        <ul>
                            <li>Dashboard</li>
                            <li>Search Job</li>
                            <li>Application</li>
                            <li>Profile</li>
                            <li>Companies</li>
                            <li>Statistics</li>
                            <li>Task</li>
                        </ul>
                    </div>
                </div>
                <div class="head">
                    <li (click)="onhead1()"><span><i class="fa-solid fa-shapes"></i> Apps</span> <i
                            class="fa-solid fa-angle-right"></i>
                    </li>
                    <div class="drop-list" *ngIf="drop">
                        <ul>
                            <li>Dashboard</li>
                            <li>Search Job</li>
                            <li>Application</li>
                            <li>Profile</li>
                            <li>Companies</li>
                            <li>Statistics</li>
                            <li>Task</li>
                        </ul>
                    </div>
                </div>
                <div class="head">
                    <li (click)="onhead2()"><span><i class="fa-solid fa-chart-area"></i> Charts</span> <i
                            class="fa-solid fa-angle-right"></i></li>
                    <div class="drop-list" *ngIf="drop">
                        <ul>
                            <li>Dashboard</li>
                            <li>Search Job</li>
                            <li>Application</li>
                            <li>Profile</li>
                            <li>Companies</li>
                            <li>Statistics</li>
                            <li>Task</li>
                        </ul>
                    </div>
                </div>
                <div class="head">
                    <li (click)="onhead3()"><span><i class="fa-solid fa-globe"></i> Bootstrap</span> <i
                            class="fa-solid fa-angle-right"></i>
                    </li>
                    <div class="drop-list" *ngIf="drop">
                        <ul>
                            <li>Dashboard</li>
                            <li>Search Job</li>
                            <li>Application</li>
                            <li>Profile</li>
                            <li>Companies</li>
                            <li>Statistics</li>
                            <li>Task</li>
                        </ul>
                    </div>
                </div>
                <div class="head">
                    <li (click)="onhead4()"><span><i class="fa-solid fa-heart"></i> Plugins</span> <i
                            class="fa-solid fa-angle-right"></i>
                    </li>
                    <div class="drop-list" *ngIf="drop">
                        <ul>
                            <li>Dashboard</li>
                            <li>Search Job</li>
                            <li>Application</li>
                            <li>Profile</li>
                            <li>Companies</li>
                            <li>Statistics</li>
                            <li>Task</li>
                        </ul>
                    </div>
                </div>
                <div class="head">
                    <li (click)="onhead5()"><span><i class="fa-solid fa-chart-area"></i> Redux</span><i
                            class="fa-solid fa-angle-right"></i>
                    </li>
                    <div class="drop-list" *ngIf="drop">
                        <ul>
                            <li>Dashboard</li>
                            <li>Search Job</li>
                            <li>Application</li>
                            <li>Profile</li>
                            <li>Companies</li>
                            <li>Statistics</li>
                            <li>Task</li>
                        </ul>
                    </div>
                </div>
                <div class="head">
                    <li (click)="onhead6()"><span><i class="fa-solid fa-panorama"></i> Widget</span><i
                            class="fa-solid fa-angle-right"></i>
                    </li>
                    <div class="drop-list" *ngIf="drop">
                        <ul>
                            <li>Dashboard</li>
                            <li>Search Job</li>
                            <li>Application</li>
                            <li>Profile</li>
                            <li>Companies</li>
                            <li>Statistics</li>
                            <li>Task</li>
                        </ul>
                    </div>
                </div>
                <div class="head">
                    <li (click)="onhead7()"><span><i class="fa-brands fa-wpforms"></i> Forms</span><i
                            class="fa-solid fa-angle-right"></i>
                    </li>
                    <div class="drop-list" *ngIf="drop">
                        <ul>
                            <li>Dashboard</li>
                            <li>Search Job</li>
                            <li>Application</li>
                            <li>Profile</li>
                            <li>Companies</li>
                            <li>Statistics</li>
                            <li>Task</li>
                        </ul>
                    </div>
                </div>
                <div class="head">
                    <li (click)="onhead8()"><span><i class="fa-solid fa-table"></i> Table</span><i
                            class="fa-solid fa-angle-right"></i></li>
                    <div class="drop-list" *ngIf="drop">
                        <ul>
                            <li>Dashboard</li>
                            <li>Search Job</li>
                            <li>Application</li>
                            <li>Profile</li>
                            <li>Companies</li>
                            <li>Statistics</li>
                            <li>Task</li>
                        </ul>
                    </div>
                </div>
                <div class="head">
                    <li (click)="onhead9()"><span><i class="fa-brands fa-wpforms"></i> Pages</span><i
                            class="fa-solid fa-angle-right"></i>
                    </li>
                    <div class="drop-list" *ngIf="drop">
                        <ul>
                            <li>Dashboard</li>
                            <li>Search Job</li>
                            <li>Application</li>
                            <li>Profile</li>
                            <li>Companies</li>
                            <li>Statistics</li>
                            <li>Task</li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="main-navbar">
        <div class="navbar">
            <div class="menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="navbar-user">
                <div class="search">
                    <input type="text" placeholder="Search Something here...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="user-main">
                    <i class="fa-solid fa-comment-dots"></i>
                    <i class="fa-solid fa-bell"></i>
                    <div (click)="onuser()" class="user">
                        <img src="https://jobie.dexignzone.com/react/demo/static/media/17.a7b6b9cb.jpg"
                            alt="user image">
                        <div>
                            <h3>
                                Oda Dink
                            </h3>
                            <p>
                                Super Admin
                            </p>
                        </div>
                        <div *ngIf="logout" class="user-logout">
                            <ul>
                                <li><i class="fa-solid fa-user"></i>Profile</li>
                                <li><i class="fa-solid fa-inbox"></i>Inbox</li>
                                <li><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>